<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oes.server.examination.mapper.PaperMapper">

  <resultMap id="baseMap" type="com.oes.server.examination.entity.system.Paper">
    <result column="paper_id" property="paperId"/>
    <result column="paper_name" property="paperName"/>
    <result column="paper_score" property="paperScore"/>
    <result column="start_time" property="startTime"/>
    <result column="end_time" property="endTime"/>
    <result column="minute" property="minute"/>
    <result column="creator_id" property="creatorId"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="status" property="status"/>
    <result column="course_id" property="courseId"/>
    <result column="is_random" property="isRandom"/>
    <result column="type" property="type"/>
    <result column="course_name" property="courseName"/>
    <result column="dept_name" property="deptName"/>
    <result column="dept_names" property="deptNames"/>
    <result column="creator_name" property="creatorName"/>
    <collection
      column="paper_id"
      property="paperQuestionList"
      ofType="com.oes.server.examination.entity.system.PaperQuestion"
      select="com.oes.server.examination.mapper.PaperQuestionMapper.selectListByPaperId"
    />
  </resultMap>

  <sql id="baseSql">
    select tp.paper_id,
           tp.paper_name,
           tp.paper_score,
           tp.start_time,
           tp.end_time,
           tp.minute,
           tp.creator_id,
           tp.create_time,
           tp.update_time,
           tp.status,
           tp.course_id,
           tc.course_name,
           tp.type,
           tp.is_random,
           (select dept_name from t_dept where t_dept.dept_id = tc.dept_id) as dept_name,
           (select full_name
            from t_user
            where t_user.user_id = tp.creator_id)                              creator_name,
           group_concat((select dept_name
                         from t_dept
                         where t_dept.dept_id in (tpd.dept_id)))            as dept_names
    from t_paper tp
           left join t_course tc on (tp.course_id = tc.course_id)
           left join t_paper_dept tpd on (tp.paper_id = tpd.paper_id)
    where 1 = 1
  </sql>

  <select id="pagePaper" parameterType="com.oes.server.examination.entity.system.Paper"
    resultMap="baseMap">
    <include refid="baseSql"/>
    <if test="paper.paperName != null and paper.paperName != ''">
      and tp.paper_name like concat('%',#{paper.paperName,jdbcType=VARCHAR},'%')
    </if>
    GROUP BY tp.paper_id
  </select>

</mapper>