<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oes.server.examination.mapper.QuestionMapper">

  <sql id="baseSql">
    select tq.question_id,
           tq.question_name,
           tq.question_image,
           tq.option_a,
           tq.option_b,
           tq.option_c,
           tq.option_d,
           tq.option_e,
           tq.option_f,
           tq.right_key,
           tq.analysis,
           tq.create_time,
           tq.update_time,
           tq.creator_id,
           tu.username    as teacherName,
           tq.type_id,
           tt.type_name   as typeName,
           tq.course_id,
           tc.course_name as courseName,
           tq.difficult
    from t_question tq
           left join t_user tu on tq.creator_id = tu.user_id
           left join t_type tt on tq.type_id = tt.type_id
           left join t_course tc on tq.course_id = tc.course_id
    where 1 = 1
  </sql>

  <select id="pageQuestion" parameterType="com.oes.server.examination.entity.system.Question"
    resultType="com.oes.server.examination.entity.system.Question">
    <include refid="baseSql"/>
    <if test="question.questionName != null and question.questionName != ''">
      and tq.question_name like concat('%',#{question.questionName,jdbcType=VARCHAR},'%')
    </if>
    <if test="question.typeIds != null and question.typeIds.length != 0">
      and tq.type_id in
      <foreach collection="question.typeIds" open="(" close=")" separator="," item="typeId">
        #{typeId,jdbcType=BIGINT}
      </foreach>
    </if>
    <if test="question.typeId != null">
      and tq.type_id = #{question.typeId,jdbcType=BIGINT}
    </if>
    <if test="question.courseId != null">
      and tq.course_id = #{question.courseId,jdbcType=BIGINT}
    </if>
    <if test="question.creatorId != null">
      and tq.creator_id = #{question.creatorId,jdbcType=BIGINT}
    </if>
  </select>

</mapper>