<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oes.server.exam.basic.mapper.ExamViolateLogMapper">

  <resultMap id="baseMap" type="com.oes.common.core.exam.entity.ExamViolateLog">
    <result column="violate_id" property="violateId"/>
    <result column="username" property="username"/>
    <result column="full_name" property="fullName"/>
    <result column="paper_id" property="paperId"/>
    <result column="behaviour" property="behaviour"/>
    <result column="violate_time" property="violateTime"/>
    <result column="stay_time" property="stayTime"/>
    <result column="system" property="system"/>
    <result column="browser" property="browser"/>
    <result column="capture" property="capture"/>
    <result column="description" property="description"/>
    <result column="paper_name" property="paperName"/>
  </resultMap>

  <sql id="baseSql">
    select tevl.violate_id,
           tevl.paper_id,
           tevl.behaviour,
           tevl.violate_time,
           tevl.stay_time,
           tevl.`system`,
           tevl.browser,
           tevl.capture,
           tevl.description,
           tp.paper_name,
           tevl.username,
           tevl.full_name
    from t_exam_violate_log tevl
           left join t_paper tp on tevl.paper_id = tp.paper_id
    where 1 = 1
  </sql>

  <select id="pageExamViolateLog"
    parameterType="com.oes.common.core.exam.entity.query.QueryExamViolateLogDto"
    resultMap="baseMap">
    <include refid="baseSql"/>
    <if test="violate.username != null and violate.username != ''">
      and tevl.username = #{violate.username,jdbcType=VARCHAR}
    </if>
    <if test="violate.fullName != null and violate.fullName != ''">
      and tevl.full_name like concat('%',#{violate.fullName,jdbcType=VARCHAR},'%')
    </if>
    <if test="violate.paperName != null and violate.paperName != ''">
      and tp.paper_name like concat('%',#{violate.paperName,jdbcType=VARCHAR},'%')
    </if>
    <if test="violate.termId != null">
      and tp.term_id = #{violate.termId,jdbcType=BIGINT}
    </if>
    group by tevl.violate_id, tevl.full_name, tevl.paper_id, tevl.behaviour, tevl.violate_time,
    tevl.stay_time, tevl.`system`, tevl.description, tevl.capture
  </select>

  <select id="selectByPaperId" parameterType="long" resultMap="baseMap">
    <include refid="baseSql"/>
    and tevl.paper_id = #{paperId,jdbcType=BIGINT}
    group by tevl.violate_id, tevl.full_name, tevl.paper_id, tevl.behaviour, tevl.violate_time,
    tevl.stay_time, tevl.`system`
    order by tevl.violate_id
  </select>
</mapper>